embeddings.json
{
  "name": "embeddings",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "44635ab1-fad5-49b0-baf9-8d136ca1d99b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "query": "edify"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "b8bccf2d-f2ec-41b8-b37a-1bd4b1f6d197",
      "name": "Search a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "LysMj99nZ6kl70Au",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "1D426E2E9F276965!s8eb1befd434d4f09b1d7f70f6c4d243b"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "966efd3c-e57d-4d88-b535-7b94afd71760",
      "name": "Download a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "LysMj99nZ6kl70Au",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "1292",
          "mode": "list",
          "cachedResultName": "1292"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "f73adc41-6732-4b3c-ac1d-db2bb5d3ceaf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Q10kSdRMa3cYWJXr",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        144
      ],
      "id": "aad540b9-1d83-44b7-9f06-a56805ac6363",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "2WxjnmLA3Cto4DNb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        128
      ],
      "id": "f17e0cd1-ef9c-4e3b-bfb1-f1cddad87316",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a file": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f4f8efc-6a3d-45e4-a18a-c761206a9e03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e4175a9bc3d163be677b092034ea6220b688d21c7604a44ea097c5396009822"
  },
  "id": "8lRJx26EMPRhzkkp",
  "tags": []
}